<h1 mat-dialog-title>User Details</h1>
<div mat-dialog-content>
  <img [src]="data.picture.large" alt="User Picture" class="user-image" />

  <p><strong>Title:</strong> {{ data.name.title }}</p>
  <p><strong>Full Name:</strong> {{ data.name.first }} {{ data.name.last }}</p>
  <p><strong>Gender:</strong> {{ data.gender }}</p>
  <p><strong>Email:</strong> {{ data.email }}</p>
  <p><strong>Date of Birth:</strong> {{ data.dob.date | date }}</p>
  <p><strong>Age:</strong> {{ data.dob.age }}</p>
  <p><strong>Phone:</strong> {{ data.phone }}</p>
  <p><strong>Cell:</strong> {{ data.cell }}</p>
  <p><strong>Nationality:</strong> {{ data.nat }}</p>
  <p><strong>Address:</strong> 
    {{ data.location.street.number }} {{ data.location.street.name }}, 
    {{ data.location.city }}, {{ data.location.state }},
    {{ data.location.country }} - {{ data.location.postcode }}
  </p>
  <p><strong>Coordinates:</strong> 
    Latitude: {{ data.location.coordinates.latitude }}, 
    Longitude: {{ data.location.coordinates.longitude }}
  </p>
  <p><strong>Timezone:</strong> {{ data.location.timezone.description }} ({{ data.location.timezone.offset }})</p>
  <p><strong>Registered:</strong> {{ data.registered.date | date }}</p>
  <p><strong>Username:</strong> {{ data.login.username }}</p>
  <p><strong>Password:</strong> {{ data.login.password }}</p>
  <p><strong>ID:</strong> {{ data.id.name }} - {{ data.id.value }}</p>
</div>
